<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		">  
	<!-- 配置dao层 -->
	<bean id="employeeDao" class="org.erp.auth.employee.dao.impl.EmployeeDaoImpl">
		<property name="hibernateTemp" ref="hibernateTemplate"/>
	</bean>

	<!-- 配置service层 -->
	<bean id="employeeServ" class="org.erp.auth.employee.service.impl.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDao"/>
		<property name="roleDao" ref="roleDao"/>
	</bean>

	<!-- 配置Action层 -->
	<bean id="employeeAction" class="org.erp.auth.employee.action.EmployeeAction" scope="prototype">
		<property name="employeeServ" ref="employeeServ"/>
		<property name="departmentServ" ref="departmentServ"/>
		<property name="roleServ" ref="roleServ"/>
		<property name="resourceServ" ref="resourceServ"/>
	</bean>
</beans>