<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		">  
	<!-- 配置dao层 -->
	<bean id="orderDao" class="org.erp.invoice.order.dao.impl.OrderDaoImpl">
		<property name="hibernateTemp" ref="hibernateTemplate"/>
	</bean>

	<!-- 配置service层 -->
	<bean id="orderServ" class="org.erp.invoice.order.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"/>
		<property name="orderDetailDao" ref="orderDetailDao"/>
		<property name="storeDetailDao" ref="storeDetailDao"/>
		<property name="storeOperateDao" ref="storeOperateDao"/>
	</bean>

	<!-- 配置Action层 -->
	<bean id="orderAction" class="org.erp.invoice.order.action.OrderAction" scope="prototype">
		<property name="orderServ" ref="orderServ"/>
		<property name="supplierServ" ref="supplierServ"/>
		<property name="goodsTypeServ" ref="goodsTypeServ"/>
		<property name="goodsServ" ref="goodsServ"/>
		<property name="employeeServ" ref="employeeServ"/>
		<property name="storeServ" ref="storeServ"/>
	</bean>
</beans>