<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		">  
	<!-- 配置dao层 -->
	<bean id="orderDetailDao" class="org.erp.invoice.orderdetail.dao.impl.OrderDetailDaoImpl">
		<property name="hibernateTemp" ref="hibernateTemplate"/>
	</bean>

	<!-- 配置service层 -->
	<bean id="orderDetailServ" class="org.erp.invoice.orderdetail.service.impl.OrderDetailServiceImpl">
		<property name="orderDetailDao" ref="orderDetailDao"/>
	</bean>

	<!-- 配置Action层 -->
	<bean id="orderDetailAction" class="org.erp.invoice.orderdetail.action.OrderDetailAction" scope="prototype">
		<property name="orderDetailServ" ref="orderDetailServ"/>
	</bean>
</beans>