<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		">  
	<!-- 配置dao层 -->
	<bean id="storeDao" class="org.erp.invoice.store.dao.impl.StoreDaoImpl">
		<property name="hibernateTemp" ref="hibernateTemplate"/>
	</bean>

	<!-- 配置service层 -->
	<bean id="storeServ" class="org.erp.invoice.store.service.impl.StoreServiceImpl">
		<property name="storeDao" ref="storeDao"/>
	</bean>

	<!-- 配置Action层 -->
	<bean id="storeAction" class="org.erp.invoice.store.action.StoreAction" scope="prototype">
		<property name="storeServ" ref="storeServ"/>
		<property name="employeeServ" ref="employeeServ"/>
	</bean>
</beans>